@import "~common/styles/variables/fonts";

.pager {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0 -5px;
    li {
      display: inline-block;
      padding: 0 5px;
      margin: 0;
    }
  }
  &__item {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding: 1px;
    min-width: 22px;
    min-height: 22px;
    border-radius: 11px;
    font-weight: $font-weight-bold;
    text-decoration: none;
    color: #fff;
    background: #312E76;
    &.is-active {
      color: #312E76;
      background: #F0F4FD;
    }
  }
  &__title {
    margin-right: 15px;
  }
  &.pager--right {
    justify-content: flex-end;
  }
}
