include ~blocks/product-cart/mixin
include ~blocks/cart-total/mixin

.cart
	.cart__main
		.cart__list
			each i in [1,2,3]
				+product-cart({
					href: '/m.mebdv/product',
					class: 'cart__item',
					image: {
						src: `/images/product/cart-${i}.png`,
						srcset: {
							'2x': `/images/product/cart-${i}@2x.png`
						}
					}
				})
	.cart__aside
		+cart-total({
			class: 'cart__total',
			button: {
				text: 'Оформить заказ',
				attributes: {
					href: '/m.mebdv/checkout'
				}
			}
		})
		include ~blocks/order-info/index
