@import "~common/styles/variables/fonts";

.section-contact {
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D7D7D7;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    p {
      margin: 0 0 5px 0;
    }
    a {
      color: currentColor;
      text-decoration: none;
      font-weight: $font-weight-semi-bold;
      font-size: 1.2em;
    }
    &__icon {
      flex: 0 0 auto;
      margin-right: 15px;
    }
  }
  &__footer {
    margin-top: 20px;
  }
}
