@import "~common/styles/variables/fonts";

.menu-main {
  color: #202020;
  font-size: 14px;
  font-weight: $font-weight-regular;

  ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0 -10px;

    li {
      display: inline-block;
      padding: 0 10px;
      margin: 0;
    }
  }
  &__item {
    white-space: nowrap;

    &.is-active,
    &:hover {
      color: #F78B3D;
    }
  }
  &__item-link {
    color: currentColor;
    text-decoration: none;
  }
  &.menu-main--center {
    ul {
      justify-content: center;
    }
  }
}
