include ~blocks/form-label/mixin
include ~blocks/form-search/mixin
include ~blocks/color-item/mixin
include ~blocks/form-range/mixin
include ~blocks/option-filter/mixin

-
	options = [
		'Все типы',
		'Велюр',
		'Жаккард',
		'Замша',
		'Искуственная кожа',
		'Микровельвет',
		'Велюр',
		'Жаккард',
		'Замша',
		'Искуственная кожа',
		'Микровельвет',
		'Велюр',
	]

.colors-search.js-colors-search
	.colors-search__head
		.colors-search__pricing
			+form-label Выберите ценовую категорию тканей:
			+form-range({
				from: {
					id: 'price-from',
					value: 30000,
					attributes: {
						'data-symbol': '₽'
					}
				},
				to: {
					id: 'price-to',
					value: 60000,
					attributes: {
						'data-symbol': '₽'
					}
				}
			})
		if (DESKTOP)
			.colors-search__options
				each option in options
					+option-filter({
						class: 'colors-search__option',
					}) #{option}
		.colors-search__search
			+form-search({
				placeholder: 'Поиск по коллекциям',
				attributes: {
					'data-rel': 'colors.search.search'
				}
			})
	.colors-search__body
		- items = []
		- items.length = 5
		each item in items
			.colors-search__item
				.colors-search__item-head
					span.colors-search__item-title Sontex
					span.colors-search__item-sep &nbsp;·&nbsp;
					span.colors-search__item-price 16 190 ₽
					.colors-search__item-type Искусственная кожа
				.colors-search__colors
					- colors = []
					- colors.length = 8
					each color, index in colors
						- image = `/images/colors/color-${index + 1}.png`
						- title = `Sontex beige ${index + 1}`
						+color-item({
							active: index === 2 || index === 5,
							mods: index === 2 ? 'orange' : '',
							title: {
								text: title,
							},
							image: {
								src: image,
							},
							attributes: {
								'data-click': "colors.search.color",
								'data-price': index,
								'data-image': image,
								'data-title': title,
								'data-rel': index === 2 && 'colors.search.base' || index === 5 && 'colors.search.partner',
							}
						})
