@import "~common/styles/variables/fonts";
@import "~common/styles/mixins/images";
@import "~common/styles/mixins/scrollbar";
@import "~blocks/breakpoints/mixin";

.colors-search {
  &__head {
    margin-bottom: 20px;
  }
  &__pricing {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #F5F5F5;
  }
  &__item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E7E7E7;
    scroll-snap-align: start;
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  &__item-head {
    font-size: 18px;
    font-weight: $font-weight-medium;
    margin-bottom: 20px;
  }
  &__item-title {
    font-weight: $font-weight-bold;
  }
  &__item-type {
    font-size: 12px;
    font-weight: $font-weight-medium;
  }
  &__colors {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 60px);
  }
  &__options {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__option {
    margin: 0 10px 15px 0;
  }

  @include breakpoint(md) {
    &__body {
      padding-right: 30px;
      max-height: 550px;
      overflow-y: auto;
      scroll-snap-type: y mandatory;
      overflow-scrolling: touch;
      -webkit-overflow-scrolling: touch;
      @include scrollbar;
    }
  }
}
