include ~blocks/icon/mixin
include ~blocks/badge/mixin

mixin button(data)
	-
		data = data || {};
		url = data.attributes && data.attributes.href;
		tagName = url ? 'a' : 'button';
	#{tagName}.button(
		class=data.class
		class=mods('button', data.mods)
		)&attributes(data.attributes)
		if (data.icon)
			+icon({ name: data.icon, class: 'button__icon' })
		block
		if (data.badge)
			span.button__badge #{data.badge}
