@import "~common/styles/variables/transition";
@import "~common/styles/variables/fonts";

.button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  color: #000;
  background: #fff;
  border: 1px solid #E7E7E7;
  font-weight: $font-weight-medium;
  font-size: 12px;
  line-height: 20px;
  padding: 9px 10px;
  border-radius: 4px;
  transition: background-color $transition-time ease-out;

  &__icon {
    color: #A8A8A8;
    font-size: 20px;
    margin-right: 10px;
    vertical-align: top;
  }

  &.button--black {
    color: #fff;
    background: #3A3A3A;
    border-color: #3A3A3A;
  }
  &.button--white {
    background: #fff;
    border-color: #fff;
    color: #000;
  }
  &.button--grey {
    background: #F4F4F4;
    border-color: #F4F4F4;
    color: #000;
  }
  &.button--orange {
    background: #F78B3D;
    border-color: #F78B3D;
    color: #fff;
    .button__icon {
      color: currentColor;
    }
  }
  &.button--blue {
    background: #F0F4FD;
    border-color: #F0F4FD;
    color: #312E76;
    .button__icon {
      color: currentColor;
    }
  }
  &.button--block {
    display: block;
    width: 100%;
  }
  &.button--small {
    font-weight: $font-weight-bold;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &.button--large {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  &.button--round {
    border-radius: 20px;
  }
}
