@import "~common/styles/variables/layout";
@import "~common/styles/mixins/scrollbar";

.section-similar {
  &__head {
    display: flex;
    align-items: center;
  }
  &__title {
    flex: 1 1 auto;
    margin: 0;
  }
  &__body {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    @include scrollbar;
  }
  &__item {
    padding: 5px 10px 5px 5px;
    flex: 0 0 auto;
    width: 240px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    & > * {
      flex: 1 0 auto;
    }
  }
  &.is-active {
    .section-similar__body {
      padding-bottom: 25px;
    }
  }
}
