@import "~blocks/breakpoints/mixin";
@import "~common/styles/variables/fonts";

.footer {
  &__top {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 15px 15px 0 0;
    background: #FAFAFA;
    align-items: stretch;
  }
  &__bottom {
    font-size: 12px;
    line-height: 15px;
    padding: 15px 30px;
    margin-top: 1px;
    background: #FAFAFA;
  }
  &__bottom-left,
  &__bottom-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom-left {
    margin-top: 10px;
    flex-direction: row-reverse;
  }
  &__nav {
    display: flex;
    flex: 1 1 auto;
    padding: 30px 50px 30px 30px;
  }
  &__menu {
    font-size: 14px;
    line-height: 25px;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
    a {
      text-decoration: none;
      color: #000;
      font-weight: $font-weight-bold;
      &:hover {
        color: #F78B3D;
      }
    }
    ul {
      display: block;
      padding: 0 15px;
      margin: 0;
      flex: 1 1 auto;
    }
    li {
      display: block;
      padding: 0;
      margin: 0;
    }
  }
  &__menu-title {
    font-size: 20px;
    color: #000;
    font-weight: $font-weight-thin;
    margin-bottom: 20px;
  }
  &__menu-body {
    display: flex;
    align-items: flex-start;
    margin: 0 -15px;
  }
  &__map {
    flex: 0 0 100%;
    min-height: 100px;
    position: relative;
    overflow: hidden;
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    flex: 0 0 auto;
    padding: 30px;
    font-size: 14px;
    line-height: 20px;
  }
  &__info-btn {
    margin-top: 30px;
  }
  &__info-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;

    & +.footer__info-item {
      padding-top: 15px;
      border-top: 1px solid #E0E0E0;
    }
    p {
      margin: 0;
    }
    a {
      color: currentColor;
      text-decoration: none;
      font-weight: $font-weight-semi-bold;
      font-size: 1.2em;
    }
    &__icon {
      flex: 0 0 auto;
      margin-right: 15px;
    }
  }
  &__privacy {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    p {
      margin: 0;
    }
    a {
      color: #312E76;
    }
  }
  &__privacy-body {
    flex: 1 1 auto;
  }
  &__privacy-icon {
    flex: 0 0 auto;
    font-size: 25px;
    line-height: 0;
    color: #CBCBCB;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #EDEDED;
  }
  &__copyright {
    flex: 1 1 auto;
    max-width: 380px;
    color: #8F8F8F;
    font-weight: $font-weight-medium;
    margin-right: 30px;
  }
  &__location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 auto;
    color: #202020;
    margin-right: 30px;
    p {
      margin: 0;
    }
    &__title {
      font-weight: $font-weight-medium;
    }
    &__icon {
      color: #CBCBCB;
      font-size: 25px;
      margin-right: 10px;
    }
  }
  &__payment {
    flex: 0 0 auto;
    font-size: 0;
    line-height: 0;
    margin-left: auto;
    ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0 10px;
      li {
        display: inline-block;
        padding: 0 10px;
        margin: 0;
      }
    }
  }

  @include breakpoint(lg) {
    &__nav {
      max-width: 490px;
    }
    &__map {
      flex: 1 1 auto;
    }
    &__info {
      order: 3;
    }
  }
  @include breakpoint(xl) {
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row-reverse;
    }
    &__bottom-right {
      flex: 1 1 auto;
    }
    &__bottom-left {
      flex: 0 1 auto;
      flex-direction: row;
    }
    &__privacy {
      flex: 0 0 auto;
      margin: 0 30px 0 0;
    }
  }
}
