include ~blocks/button/mixin
include ~blocks/form/mixin
include ~blocks/form-title/mixin
include ~blocks/form-field/mixin
include ~blocks/form-head/mixin
include ~blocks/form-footer/mixin
include ~blocks/form-label/mixin

+form({
	class: 'form-review',
})
	+form-head
		+form-title Оставить отзыв
	+form-field
		+form-label Ваше имя:
		input(type="text" placeholder="Иван")
	+form-field
		+form-label Телефон:
		input(type="tel" placeholder="+7 (XXX) XXX-XX-XX" required)
	+form-field
		+form-label Email:
		input(type="email" placeholder="example@mail.ru")
	+form-field
		+form-label Текст отзыва:
		textarea(placeholder="Сообщение")
	+form-footer
		+button({
			mods: ['block', 'orange', 'round'],
			attributes: {
				type: 'submit'
			}
		}) Отправить
