extends ~layout/l-desktop/index

include ~blocks/breadcrumbs/mixin

block variables
	- TITLE = 'Корзина'
	- DESKTOP = true

block page-head
	+breadcrumbs({
		items: [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'Корзина',
			},
		]
	})
	h1 Корзина
block page-content
	include ~desktop/checkout/index
