extends ~layout/l-mobile/index

include ~blocks/breadcrumbs/mixin

block variables
	- TITLE = 'Диван Еврокнижка Лиссабон'

block page-head
	+breadcrumbs({
		back: {
			title: 'Назад',
			href: '/m.mebdv/catalog/#product-3'
		},
		items: [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'Каталог',
				href: '/m.mebdv/catalog'
			},
			{
				title: 'Мягкая мебель',
				href: '/m.mebdv/catalog'
			},
			{
				title: 'Диваны Еврокнижка',
				href: '/m.mebdv/catalog'
			},
			{
				title: 'Лиссабон',
			},
		]
	})
	h1 Диван Еврокнижка Лиссабон
block page-body
	include ~mobile/product-card/index
	include ~mobile/popup-review/index
	include ~mobile/popup-sizes/index
	include ~mobile/popup-color/index
	include ~mobile/color-preview/index

block prepend footer
	include ~mobile/section-contact/index
	include ~mobile/section-map/index
