include ~blocks/image/mixin
include ~blocks/button/mixin
include ~blocks/form-search/mixin

header.header.js-header
	.header__top
		.header__logo
			a(href="/")
				+image({ src: '/images/logo.svg' })
		.header__search
			+form-search({
				mods: 'round',
				placeholder: 'Поиск среди 10 000 товаров...'
			})
		.header__menu
			include ~blocks-desktop/menu-main/index
		.header__phone
			include ~blocks/button-phone/index
		.header__callback
			+button({ mods: ['round', 'black', 'block'] }) Заказать звонок
		.header__cart
			+button({
				icon: 'cart',
				badge: '12',
				mods: ['round', 'orange', 'block']
			}) Корзина
	.header__bottom
