.icon-alert {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-bedroom {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-bookmark {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-burger {
  font-size: 15 * 1px;
  height: 1em;
  width: (15/15) * 1em;
}
.icon-calendar {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-cart {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-catalog {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-check {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-child {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-chosen {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-clock {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-close {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-cottage {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-d-inside {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-delete {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-delivery {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-delivery-2 {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-divan {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-down {
  font-size: 15 * 1px;
  height: 1em;
  width: (15/15) * 1em;
}
.icon-download {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-filter {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-hall {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-hallway {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-hit {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-home {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-kitchen {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-left {
  font-size: 15 * 1px;
  height: 1em;
  width: (15/15) * 1em;
}
.icon-mail {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-map {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-massive {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-matrassess {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-minus {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-money-pig {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-new {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-office {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-payback {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-phone {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-plus {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-return {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-right {
  font-size: 15 * 1px;
  height: 1em;
  width: (15/15) * 1em;
}
.icon-sale {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
.icon-search {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-settings {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-similar_products {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-sort {
  font-size: 20 * 1px;
  height: 1em;
  width: (20/20) * 1em;
}
.icon-star {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-sub {
  font-size: 15 * 1px;
  height: 1em;
  width: (15/15) * 1em;
}
.icon-tag {
  font-size: 25 * 1px;
  height: 1em;
  width: (25/25) * 1em;
}
.icon-up {
  font-size: 15 * 1px;
  height: 1em;
  width: (15/15) * 1em;
}
.icon-wardrobe {
  font-size: 30 * 1px;
  height: 1em;
  width: (30/30) * 1em;
}
