@import "~common/styles/variables/fonts";
@import "~blocks/breakpoints/mixin";

.breadcrumbs {
  color: #898989;
  font-weight: $font-weight-medium;

  &__back,
  &__sep,
  &__icon,
  &__item {
    vertical-align: middle;
  }
  &__back {
    display: inline-flex;
    align-items: center;
    color: #F78B3D;
    font-weight: $font-weight-bold;
  }
  &__sep {
    display: inline-block;
    font-size: 0;
    margin: 0 10px;
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background: currentColor;
      width: 1px;
      height: 9px;
    }
  }
  &__item {
    display: inline;
    text-decoration: none;
    &[href] {
      color: #000;
    }
  }
  &__icon {
    display: inline-block;
    font-size: 15px;
  }
  @include breakpoint(sm) {
    color: #BABABA;
    font-weight: $font-weight-regular;
    &__back {
      font-weight: $font-weight-regular;
    }
  }
}
