extends ~layout/l-mobile/index

include ~blocks-mobile/section-products/mixin

block variables
	- TITLE = 'Главная'

block main
	include ~blocks-mobile/section-slider/index
	include ~blocks-mobile/section-catalog/index
	+section-products({
		title: 'Новинки',
		icon: 'new',
		mods: 'bottom'
	})
	+section-products({
		title: 'Хиты продаж',
		icon: 'star',
		mods: 'bottom'
	})
	+section-products({
		title: 'Распродажа',
		icon: 'tag',
		mods: 'bottom'
	})
	+section-products({
		title: 'Скидки в июне',
		icon: 'calendar',
		mods: 'bottom'
	})
	+section-products({
		title: 'Ликвидация склада',
		icon: 'home',
		mods: 'bottom'
	})
	include ~blocks-mobile/section-features/index
	include ~blocks-mobile/section-about/index

block prepend footer
	include ~blocks-mobile/section-contact/index
	include ~blocks-mobile/section-map/index
