@import "~common/styles/variables/fonts";
@import "~blocks/breakpoints/mixin";

.form-sizes {
  padding: 15px;
  background: #fff;

  &__head {
    font-size: 14px;
    font-weight: $font-weight-semi-bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #F5F5F5;
  }
  &__footer {
    border-top: 1px solid #F5F5F5;
    padding: 20px 15px 5px 15px;
    margin: 0 -15px;
  }
  &__item-outer {
    border-bottom: 1px solid #F5F5F5;
    &:last-child {
      border-bottom: none;
    }
  }
  &__item {
    margin: 0 -15px;
  }

}
