.form-feedback {
  &__inner {
    max-width: 760px;
    margin: 0 auto;
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 20px;
  }
  &__message {
    grid-column: span 3;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
  }
  &__submit {
    flex: 0 0 auto;
    min-width: 170px;
  }
}
