.catalog-filter {
  &__open {
    margin-bottom: 15px;
  }
  &__toggle {
    margin-bottom: 10px;
  }
  &__label {
    margin-bottom: 10px;
  }
  &__current {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ECECEC;
  }
  &__options {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: -10px;
  }
  &__option {
    flex: 0 0 auto;
    margin: 0 10px 10px 0;
  }
}
