@import "~common/styles/variables/fonts";
@import "~common/styles/variables/animation";
@import "styles/animations";

.menu-app {
  color: #000;
  background: #fff;

  ul,
  li {
    padding: 0;
    margin: 0;
  }
  ul {
    display: block;
  }
  li {
    display: none;
    border-bottom: 1px solid #F6F6F6;
    animation: menu-app-item $animation-time ease-out;

    &.is-visible {
      display: block;
    }
  }


  &__head,
  &__item {
    font-size: 14px;
    line-height: 30px;
    padding: 10px 15px;
    user-select: none;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: $font-weight-semi-bold;
    border-bottom: 1px solid #F6F6F6;
    cursor: pointer;
  }
  &__head-icon {
    flex: 0 0 1em;
    width: 1em;
    height: 1em;
    margin-right: 5px;
    position: relative;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-decoration: none;
    color: #202020;
    font-weight: $font-weight-medium;


    &__icon,
    &__image {
      flex: 0 0 30px;
      position: relative;
    }
    &__icon {
      font-size: 20px;
      margin-left: 10px;
    }
    &__image {
      font-size: 0;
      line-height: 0;
      text-align: center;
      margin-right: 10px;
      img {
        max-height: 30px;
      }
    }
    &__title {
      flex: 1 1 auto;
    }

    &:active,
    &.is-active {
      background: #F6F6F6;
    }
  }
}
