@font-face {
  font-family: 'Gilroy';
  src: url('~static/fonts/gilroy/Gilroy-SemiBold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
  url('~static/fonts/gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('~static/fonts/gilroy/Gilroy-SemiBold.woff') format('woff'),
  url('~static/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: $font-weight-semi-bold;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('~static/fonts/gilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('~static/fonts/gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('~static/fonts/gilroy/Gilroy-Light.woff') format('woff'),
  url('~static/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: $font-weight-light;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('~static/fonts/gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('~static/fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('~static/fonts/gilroy/Gilroy-Regular.woff') format('woff'),
  url('~static/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: $font-weight-regular;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('~static/fonts/gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
  url('~static/fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('~static/fonts/gilroy/Gilroy-Medium.woff') format('woff'),
  url('~static/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: $font-weight-medium;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('~static/fonts/gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('~static/fonts/gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('~static/fonts/gilroy/Gilroy-Bold.woff') format('woff'),
  url('~static/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: $font-weight-bold;
  font-display: swap;
  font-style: normal;
}
