@import "~common/styles/variables/fonts";
@import "~blocks/breakpoints/mixin";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0.5em 0;
  color: currentColor;
}

h1,
.h1 {
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
  @include breakpoint(sm) {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 16px;
  font-weight: $font-weight-medium;
  @include breakpoint(sm) {
    font-size: 32px;
  }
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
  font-size: 12px;
  font-weight: $font-weight-semi-bold;
  @include breakpoint(sm) {
    font-size: 25px;
    font-weight: $font-weight-thin;
  }
}
