include ~layout/l-container/mixin
include ~blocks/section/mixin
include ~blocks/slider-main/mixin

+section({
	mods: ['top', 'bottom'],
	class: ['section-slider', 'js-section-slider']
})
	+l-container
		.section-slider__outer
			+slider-main({ class: 'section-slider__carousel' })

