@import "~common/styles/variables/layout";
@import "~common/styles/mixins/images";

.section-slider {
  &__outer {
    margin-right: -$layout-padding;
    margin-left: -$layout-padding;
  }
  &__carousel {
    padding-left: $layout-padding;
  }
}
