include ~layout/l-container/mixin
include ~blocks/section/mixin
include ~blocks/slider-main/mixin

+section({
	mods: ['small', 'top'],
	class: 'section-slider'
})
	+l-container
		+slider-main({ class: 'section-slider__carousel' })

