@import "~common/styles/variables/fonts";
@import "~common/styles/variables/transition";
@import "~blocks/breakpoints/mixin";

.option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  line-height: 15px;
  font-weight: $font-weight-regular;
  padding: 15px;

  [type="radio"],
  [type="checkbox"] {
    display: none;
  }
  &__radio,
  &__checkbox {
    display: block;
    position: relative;
    font-size: 15px;
    width: 1em;
    height: 1em;
    flex: 0 0 auto;
    margin-left: 10px;
    color: #F78B3D;
  }
  &__checkbox {
    opacity: 0;
    transform: scale(0);
    transition:
      opacity $transition-time ease-out,
      transform $transition-time ease-out;
    :checked ~ & {
      transform: scale(1);
      opacity: 1;
    }
  }
  &__radio {
    border-radius: 50%;
    border: 1px solid currentColor;
    &::after {
      content: '';
      display: block;
      position: absolute;
      box-sizing: border-box;
      border-radius: 50%;
      background: currentColor;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      margin-left: -3px;
      margin-top: -3px;
      transform: scale(0);
      opacity: 0;
      transition:
        opacity $transition-time ease-out,
        transform $transition-time ease-out;
    }
    :checked ~ & {
      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  &__title {
    flex: 1 1 auto;
    :checked ~ & {
      color: #F78B3D;
      font-weight: $font-weight-medium;
    }
  }

  @include breakpoint(sm) {
    &:hover {
      background: #F78B3D;
      color: #fff;
      .option__title,
      .option__radio,
      .option__checkbox {
        color: currentColor;
      }
    }
  }
}
