@import "~common/styles/variables/layout";
@import "~blocks/breakpoints/mixin";

.l-container {
  padding: 0 $layout-padding;
  @include breakpoint(md) {
    padding: 0 $layout-padding-md;
  }
  @include breakpoint(xxl) {
    padding: 0 $layout-padding-xxl;
  }
}
