@import "~common/styles/variables/layout";
@import "~blocks/breakpoints/mixin";

.l-container {
  padding: 0 $layout-padding;
  @include breakpoint(xl) {
    padding: 0 $layout-padding-xl
  }
  @include breakpoint(xxl) {
    padding: 0 $layout-padding-xxl
  }
}
