extends ~layout/l-desktop/index
include ~desktop/section-products/mixin

block variables
	- TITLE = 'Главная'
	- DESKTOP = true

block main
	include ~desktop/section-slider/index
	include ~desktop/section-catalog/index
	+section-products({
		title: 'Новинки',
		icon: 'new',
		mods: 'bottom'
	})
	+section-products({
		title: 'Хиты продаж',
		icon: 'star',
		mods: 'bottom'
	})
	+section-products({
		title: 'Распродажа',
		icon: 'tag',
		mods: 'bottom'
	})
	+section-products({
		title: 'Скидки в июне',
		icon: 'calendar',
		mods: 'bottom'
	})
	+section-products({
		title: 'Ликвидация склада',
		icon: 'home',
		mods: 'bottom'
	})
	include ~desktop/section-about/index
