extends ~layout/l-mobile/index

include ~blocks/text-block/mixin
include ~blocks/breadcrumbs/mixin
include ~mobile/section-products/mixin

block variables
	- TITLE = 'Доставка и оплата'

block page-head
	+breadcrumbs({
		items: [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'Доставка и оплата',
			},
		]
	})
	h1 Доставка и оплата
block page-content
	+text-block
		h2 Условия доставки
		p Доставка осуществляется по Москве, а также за пределами МКАД службой доставки. Оплата заказа осуществляется на месте по факту доставки.
		p Транспортировка изделий производится до подъезда, но при дополнительной договоренности мы поднимем изделие на этаж. Доставка осуществляется в течение дня по указанному Вами адресу в строго установленные сроки. Предварительно наши сотрудники свяжутся с Вами, чтобы уточнить удобное для Вас время принятия заказа.
	p
		strong Для каждой фабрики у нас разная стоимость доставки и услуг:
	+text-block
		h2 Доставка
		ul
			li В пределах МКАД – бесплатно;
			li За пределы МКАДа (0-30 км) – 30 руб./км.
			li За пределы МКАДа (30-60 км) – 35 руб./км.
			li За пределы МКАДа (60-100 км) – 40 руб./км.
			li За пределы МКАДа (более 100 км) – 45 руб./км.
			li Доставка в пределы ТТК (в ночное время) - 500 руб.
	+text-block
		h2 Подъем грузовым лифтом:
		ul
			li Диваны: офисные, -еврокнижка, -книжка, французская раскладушка, модульная система (за элемент), кушетка — 700 руб./этаж;
			li Кресло-кровать — 500 руб./этаж;
			li Кресло офисное, кухонный уголок – 600 руб.;
			li Диваны: -аккордеон, угловые, угловые офисные – 700 руб.
	+text-block
		h2 Подъем пассажирским лифтом:
		ul
			li Диваны: офисные, -еврокнижка, -книжка, французская раскладушка, модульная система (за элемент), кушетка — 1000 руб./этаж;
			li Кресло-кровать — 700 руб./этаж;
			li Кресло офисное, кухонный уголок – 800 руб.;
			li Диваны: -аккордеон, угловые, угловые офисные – 1000 руб.
	+text-block
		h2 Подъем вручную на этаж:
		ul
			li Диваны: офисные, -еврокнижка, -книжка, французская раскладушка, модульная система (за элемент), кушетка — 250 руб./этаж;
			li Кресло офисное — 200 руб./этаж;
			li Кухонный уголок – 250 руб./этаж;
			li Диваны: угловые, угловые офисные – 350 руб.;
			li Диваны-аккордеон — 350 руб.;
			li Кресло-кровать – 300 руб.
	p
		strong Подъем на 1-й этаж любого изделия составляет 500 руб.

block prepend footer
	include ~mobile/section-contact/index
	include ~mobile/section-map/index
