extends ~layout/l-mobile/index

include ~blocks/breadcrumbs/mixin
include ~blocks/mobile/section-products/mixin

block variables
	- TITLE = 'Диваны'

block page-head
	+breadcrumbs({
		items: [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'Диваны',
			},
		]
	})
	h1 Диваны
block page-body

	include ~blocks/mobile/catalog/index


block prepend footer
	include ~blocks/mobile/section-contact/index
	include ~blocks/mobile/section-map/index
