extends ~layout/l-mobile/index

include ~blocks/breadcrumbs/mixin
include ~mobile/section-products/mixin

block variables
	- TITLE = 'Диваны'

block page-head
	+breadcrumbs({
		items: [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'Диваны',
			},
		]
	})
	h1 Диваны
block page-content
	include ~mobile/catalog/index
	include ~mobile/popup-filter/index

block prepend footer
	include ~mobile/section-contact/index
	include ~mobile/section-map/index
