@import "~common/styles/variables/fonts";
@import "~common/styles/variables/transition";
@import "~common/styles/mixins/images";
@import "~blocks/breakpoints/mixin";

.product-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(#A0A0A0, 0.4);
  border-radius: 6px;
  padding: 40px 10px 10px 10px;
  min-height: 260px;
  transition: border-color $transition-time ease-out;

  &.has-gallery:hover {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    z-index: 250;
    .product-panel__thumbs {
      display: block;
    }
  }

  &__head {
    margin-bottom: 5px;
  }
  &__body {
    flex: 1 1 auto;
  }
  &__footer {
    margin-top: 8px;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    line-height: 0;
    height: 80px;
    img {
      max-height: 80px;
    }
  }
  &__badges {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0 0 10px;
    max-width: 100%;
  }
  &__badge {
    flex: 0 0 auto;
    margin: 0 5px 5px 0;
    &:last-child {
      margin-right: 0;
    }
  }
  &__title {
    color: #122351;
    font-weight: $font-weight-semi-bold;
    text-decoration: none;
  }
  &__prices {
    margin-bottom: 5px;
  }
  &__price {
    color: #000;
    font-weight: $font-weight-bold;
    margin-right: 5px;
  }
  &__price-old {
    color: #A9A9A9;
    font-weight: $font-weight-regular;
    text-decoration: line-through;
  }
  &__reviews {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__rating {
    flex: 0 0 auto;
  }
  &__reviews-count {
    flex: 0 0 auto;
    margin-left: 5px;
  }
  &__thumbs {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 100px;
    background: #fff;
    padding: 20px 15px;
    box-shadow: 0 0 2px rgba(#A0A0A0, 0.4);
    border-radius: 6px 0 0 6px;
  }
  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    line-height: 0;
    height: 50px;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    img,
    [data-src] {
      @include image-contain;
    }
  }
  &__slide {
    display: none;
    &.is-active {
      display: block;
    }
  }

  @include breakpoint(md) {
    min-height: 350px;
    font-size: 15px;
    padding: 40px 15px 15px 15px;

    &__title {
      font-weight: $font-weight-medium;
    }
    &__badges {
      padding: 15px 0 0 15px;
    }
    &__badge {
      margin: 0 10px 10px 0;
    }
    &__image {
      height: 120px;
      img {
        max-height: 120px;
      }
    }
  }
}
