include ~blocks/popup/mixin
include ~blocks/image/mixin
include ~blocks/button/mixin
include ~blocks/form-label/mixin

+popup({
	title: 'Изменить ткань',
	class: 'popup-color',
	attributes: {
		id: 'popup-color'
	}
})
	.popup-color__inner
		.popup-color__head
			include ~blocks/form-color/index
		.popup-color__body
			include ~blocks/colors-search/index
