extends ~common/templates/layout/base

block body
	.l-desktop
		.l-desktop__header
			block header
				include ~blocks-desktop/header/index
		.l-desktop__inner
			aside.l-desktop__aside
				block aside
					include ~blocks/menu-catalog/index
			.l-desktop__body
				main.l-desktop__main
					block main
						.l-desktop__content
							block page-content
				.l-desktop__footer
					block footer
						include ~blocks-desktop/footer/index

block append stylesheets
	link(rel="stylesheet" href=`/index.css?${$.version}`)
block append scripts
	script(src=`/index.js?${$.version}`)
