extends ~common/templates/layout/base
include ~layout/l-container/mixin

block body
	.l-desktop
		.l-desktop__header
			block header
				include ~desktop/header/index
		.l-desktop__inner
			aside.l-desktop__aside
				block aside
					include ~blocks/menu-catalog/index
			.l-desktop__body
				main.l-desktop__main
					block main
						.l-desktop__head
							+l-container
								block page-head
						.l-desktop__content
							block page-content
				.l-desktop__footer
					block footer
						include ~desktop/footer/index
	include ~blocks/popup-feedback/index
	include ~blocks/popup-callback/index

block append stylesheets
	link(rel="stylesheet" href=`/index.css?${$.version}`)
block append scripts
	script(src=`/index.js?${$.version}`)
