@import "~blocks/breakpoints/mixin";

.l-desktop {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 90px;
  min-height: 100vh;
  min-width: 1024px;

  &__content {
    padding-bottom: 50px;
  }
  &__main {
    flex: 1 1 auto;
  }
  &__footer {
    margin-top: auto;
  }
  &__head {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include breakpoint(xl) {
    padding-left: 270px;
  }
}
