include ~blocks/rating/mixin

mixin review(data)
	- data = data || {};
	.review(
		class=data.class
		class=mods('review', data.mods)
	)&attributes(data.attributes)
		.review__head
			.review__title Елена Малинина
			.review__date 15.10.2019
		if (data.rating)
			+rating({ class: 'review__rating' })
		.review__body Мы с мужем купили у вас детскую кровать Лицей+. Красивая модель, качественные материалы, после сборки ничего нигде не шаталось. Снизу 2 удобных ящика для постельного белья. Спасибо за такую замечательную мебель, нам она очень понравилась. А главное, наша дочка тоже довольна, говорит, что на этой кровати спать лучше, чем на старой.


