@import "~common/styles/variables/fonts";
@import "~blocks/breakpoints/mixin";

.review {
  padding: 15px;
  color: #000;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(160, 160, 160, 0.4);

  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 5px;
  }
  &__title {
    flex: 1 1 auto;
    color: #000;
    font-weight: $font-weight-bold;
  }
  &__date {
    color: #9E9E9E;
    margin-left: 20px;
    font-weight: $font-weight-regular;
  }
  &__body {
    margin-top: 5px;
  }

  @include breakpoint(sm) {
    padding: 20px;
    &__head {
      margin-bottom: 10px;
    }
  }
}
