-
	items = [
		{
			title: 'О магазине',
		},
		{
			title: 'Доставка и оплата',
			active: true,
		},
		{
			title: 'Гарантия',
		},
		{
			title: 'Производители',
		},
		{
			title: 'Отзывы',
		},
		{
			title: 'Контакты',
		},
	]

nav.menu-main
	ul
		each item in items
			- state = [];
			- if (item.active) state.push('is-active')
			li
				.menu-main__item(class=state)
					a.menu-main__item-link(href="#") #{item.title}
