extends ~layout/l-desktop/index
include ~blocks/breadcrumbs/mixin
include ~desktop/form-review/mixin
include ~desktop/section-reviews/mixin
include ~desktop/section-similar/mixin

block variables
	- TITLE = 'Диван-кровать Баден-Баден'
	- DESKTOP = true

block page-head
	+breadcrumbs({
		back: {
			title: 'Назад',
			href: '/mebdv/catalog/#product-3'
		},
		items: [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'Каталог',
				href: '/mebdv/catalog'
			},
			{
				title: 'Мягкая мебель',
				href: '/mebdv/catalog'
			},
			{
				title: 'Диваны Еврокнижка',
				href: '/mebdv/catalog'
			},
			{
				title: 'Лиссабон',
			},
		]
	})

	h1 Диван-кровать Баден-Баден

block page-content
	.p-product
		+l-container
			include ~desktop/product-card/index
		+section-similar({
			mods: 'top',
			title: 'Сопутствующие товары',
		})
		+section-similar({
			mods: 'top',
			title: 'Диван Еврокнижка Лиссабон в других цветах (10 шт)',
		})
		+section-similar({
			mods: 'top',
			title: 'Все товары коллекции Лиссабон (8 шт)',
		})
		+section-reviews({
			mods: ['top']
		})
block append body
		include ~blocks/popup-custom/index
		include ~blocks/popup-sizes/index
		include ~blocks/popup-color/index
