extends ~layout/l-desktop/index
include ~blocks/breadcrumbs/mixin

block variables
	- TITLE = 'Диван-кровать Баден-Баден'
	- DESKTOP = true

block page-head
	+breadcrumbs({
		back: {
			title: 'Назад',
			href: '/mebdv/catalog/#product-3'
		},
		items: [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'Каталог',
				href: '/mebdv/catalog'
			},
			{
				title: 'Мягкая мебель',
				href: '/mebdv/catalog'
			},
			{
				title: 'Диваны Еврокнижка',
				href: '/mebdv/catalog'
			},
			{
				title: 'Лиссабон',
			},
		]
	})

	h1 Диван-кровать Баден-Баден

block page-content
	+l-container
		include ~desktop/product-card/index

block append body
		include ~blocks/popup-custom/index
		include ~blocks/popup-sizes/index
		include ~blocks/popup-color/index
