@import "~common/styles/variables/fonts";
@import "~blocks/breakpoints/mixin";

.contacts {
  &__map {
    margin-bottom: 40px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    p {
      margin: 0;
    }
    &__icon {
      flex: 0 0 auto;
      margin-right: 15px;
    }
    &__title {
      font-weight: $font-weight-medium;
      margin-bottom: 5px;
    }
    &__body {
      flex: 1 1 auto;
    }
  }
  &__list {
    display: grid;
    grid-gap: 20px 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  &__form {
    margin-top: 30px;
  }
  @include breakpoint(lg) {
    &__body {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &__list {
      flex: 0 0 600px;
    }
    &__form {
      flex: 1 1 auto;
      margin-top: 0;
    }
  }
}
