@import "~common/styles/mixins/images";
@import "~common/styles/variables/animation";
@import "~common/styles/variables/transition";
@import "~common/styles/variables/fonts";
@import "~blocks/breakpoints/mixin";
@import "styles/animations";

.select-color {
  display: block;
  position: relative;

  ul,
  li {
    display: block;
    padding: 0;
    margin: 0;
  }
  li {
    border-bottom: 1px solid #E7E7E7;
    &:last-child {
      border-bottom: none;
    }
  }
  &__head,
  &__option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    color: #000;
    padding: 10px;
    cursor: pointer;
    user-select: none;
  }
  &__head,
  &__body {
    border-radius: 4px;
    border: 1px solid #E7E7E7;
  }
  &__body {
    display: none;
    margin-top: 15px;
    animation: select-color $animation-time ease-out;
  }
  &__icon {
    flex: 0 0 auto;
    font-size: 15px;
    margin-left: 10px;
    transition: transform $transition-time ease-out;
  }
  &__title {
    flex: 1 1 auto;
    font-weight: $font-weight-regular;
  }
  &__image {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    img {
      @include image-cover;
    }
  }
  &__checkbox {
    font-size: 15px;
  }

  &__option {
    &:active,
    &:focus,
    &:hover,
    &.is-active {
      color: #F78B3D;
    }
  }

  &.is-active {
    .select-color__icon {
      transform: scale(-1);
    }
    .select-color__body {
      display: block;
    }
  }

  @include breakpoint(xs) {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
