include ~blocks/icon/mixin

mixin nav-slider(data)
	- data = data || {};
	.nav-slider(
		class=data.class
		class=mods('nav-slider', data.mods)
	)&attributes(data.attributes)
		ul
			li
				button.nav-slider__btn&attributes(data.prev.attributes)
					+icon({
						name: 'left',
						mods: 'center'
					})
			li
				button.nav-slider__btn&attributes(data.next.attributes)
					if (data.next.text)
						span.nav-slider__btn-label #{data.next.text}
					+icon({
						name: 'right',
						mods: data.next.text ? '' : 'center'
					})

