@import "~common/styles/variables/fonts";

.nav-slider {
  display: flex;
  align-items: center;
  justify-content: center;

  &__prev,
  &__next {
    background: #fff;
    border: 1px solid #F4F4F4;
    border-radius: 15px;
    color: #F78B3D;
    font-size: 15px;
    position: relative;
    height: 30px;
    min-width: 30px;

    &[disabled] {
      cursor: not-allowed;
      color: #D8D8D8;
    }
  }
  &__prev {
    padding: 0;
    margin-right: 10px;
  }
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  &__btn-label {
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    color: #312E76;
    font-weight: $font-weight-medium;
    padding: 0 5px;
  }
}
