include ~layout/l-container/mixin
include ~blocks/section/mixin
include ~blocks/section-title/mixin
include ~blocks/section-head/mixin
include ~blocks/section-footer/mixin
include ~blocks/icon-box/mixin
include ~blocks/button/mixin
include ~blocks-mobile/grid-catalog/mixin

-
	items = [
		{
			url: '/m.mebdv/catalog',
			title: 'Диваны',
			image: {
				src: `/images/catalog/catalog-1.png`,
				srcset: {
					'2x': `/images/catalog/catalog-1@2x.png`,
				}
			}
		},
		{
			url: '/m.mebdv/catalog',
			title: 'Шкафы',
			image: {
				src: `/images/catalog/catalog-2.png`,
				srcset: {
					'2x': `/images/catalog/catalog-2@2x.png`,
				}
			}
		},
		{
			url: '/m.mebdv/catalog',
			title: 'Кровати',
			image: {
				src: `/images/catalog/catalog-3.png`,
				srcset: {
					'2x': `/images/catalog/catalog-3@2x.png`,
				}
			}
		},
		{
			url: '/m.mebdv/catalog',
			title: 'Тумбы',
			image: {
				src: `/images/catalog/catalog-4.png`,
				srcset: {
					'2x': `/images/catalog/catalog-4@2x.png`,
				}
			}
		},
		{
			url: '/m.mebdv/catalog',
			title: 'Столы',
			image: {
				src: `/images/catalog/catalog-5.png`,
				srcset: {
					'2x': `/images/catalog/catalog-5@2x.png`,
				}
			}
		},
		{
			url: '/m.mebdv/catalog',
			title: 'Стулья',
			image: {
				src: `/images/catalog/catalog-6.png`,
				srcset: {
					'2x': `/images/catalog/catalog-6@2x.png`,
				}
			}
		},
	]

+section({
	class: ['section-catalog','js-section-catalog']
})
	+l-container
		+section-head
			+section-title({ icon: 'bookmark' }) Популярные товары
		.section-catalog__body
			+grid-catalog({ items })
		+section-footer
			+button({
				mods: ['block', 'round'],
				attributes: {
					href: '/catalog',
					'data-click': 'catalog.open'
				}
			}) Смотреть весь каталог
