@import "~common/styles/variables/fonts";

.section-title {
  font-size: 18px;
  color: #000;
  font-weight: $font-weight-medium;

  &__icon {
    flex: 0 0 auto;
    font-size: 1.4em;
    line-height: 0;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    position: relative;
    color: #122351;
  }
  &__title {
    font-size: 1em;
    color: currentColor;
    flex: 1 1 auto;
    margin: 0;
    font-weight: $font-weight-medium;
  }
  &.has-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
