extends ~layout/l-mobile/index

include ~blocks/breadcrumbs/mixin

block variables
	- TITLE = 'Контактная информация'

block page-head
	+breadcrumbs({
		items: [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'Контакты',
			},
		]
	})
	h1 Контактная информация
block page-content
	include ~mobile/contacts/index

block prepend footer
	include ~mobile/section-contact/index
	include ~mobile/section-map/index
