include ~layout/l-container/mixin
include ~blocks/section/mixin
include ~blocks/section-head/mixin
include ~blocks/section-title/mixin
include ~blocks-mobile/slider-products/mixin

mixin section-products(data)
	-
		data = data || {}
		data.class = [].concat(data.class, 'section-products')
	+section(data)
		+l-container
			+section-head
				+section-title({ icon: data.icon }) #{data.title}
			.section-products__body
				+slider-products({
					scrollbar: true,
				})
