include ~blocks/image/mixin
include ~blocks/button/mixin
include ~blocks/form-search/mixin
include ~blocks/icon-box/mixin
include ~desktop/menu-main/mixin

-
	menu = [
		{
			title: 'О магазине',
			href: '#'
		},
		{
			title: 'Доставка и оплата',
			href: '/mebdv/delivery',
			active: true,
		},
		{
			title: 'Гарантия',
			href: '#',
		},
		{
			title: 'Производители',
			href: '#',
		},
		{
			title: 'Отзывы',
			href: '/mebdv/reviews',
		},
		{
			title: 'Контакты',
			href: '/mebdv/contacts',
		},
	]

header.header.header--sticky.js-header
	.header__top
		+menu-main({ items: menu })
	.header__bottom
		.header__logo
			a(href="/mebdv")
				+image({ src: '/images/logo.svg' })
		.header__bottom-left
			.header__search
				+form-search({
					mods: 'round',
					placeholder: 'Поиск среди 10 000 товаров...',
					attributes: {
						'data-rel': 'header.search.form',
					}
				})
			.header__menu
				+menu-main({ items: menu, mods: 'center' })
		.header__phone
			include ~blocks/button-phone/index
		.header__callback
			+button({
				mods: ['round', 'black', 'block'],
				attributes: {
					'data-click': 'popup',
					'data-popup-id': 'popup-callback',
				}
			}) Заказать звонок
		.header__cart#js-cart
			+button({
				icon: 'cart',
				badge: '10',
				mods: ['round', 'orange', 'block'],
				attributes: {
					href: '/mebdv/cart'
				}
			})
				span.header__cart-label Корзина
