.header {
  $z-index: 300;
  position: relative;
  min-height: 80px;
  z-index: $z-index;
  background: #FAFAFA;

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 30px;
  }
  &__logo {
    font-size: 0;
    line-height: 0;
    flex: 0 0 110px;
    max-width: 110px;
    margin-right: 30px;
  }
  &__search {
    flex: 0 1 260px;
    max-width: 260px;
  }
  &__menu {
    flex: 1 1 auto;
    margin: 0 30px;
  }
  &__callback {
    flex: 0 0 auto;
    min-width: 160px;
    margin-left: 30px;
  }
  &__cart {
    flex: 0 0 auto;
    margin-left: 30px;
  }

  &.header--sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  &.header--blurred {
    background: rgba(#FAFAFA, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
