.header {
  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FAFAFA;
    padding: 20px 30px;
  }
  &__bottom {}
  &__logo {
    font-size: 0;
    line-height: 0;
    flex: 0 0 110px;
    max-width: 110px;
    margin-right: 30px;
  }
  &__search {
    flex: 0 1 260px;
    max-width: 260px;
  }
  &__menu {
    flex: 1 1 auto;
    margin: 0 30px;
  }
  &__callback {
    flex: 0 0 auto;
    min-width: 160px;
    margin-left: 30px;
  }
  &__cart {
    flex: 0 0 auto;
    margin-left: 30px;
  }
}
