include ~blocks/button/mixin
include ~blocks/media-object/mixin

.product-description.js-product-description.is-active
	.product-description__body
		p Диван Баден-Баден воплощает собой современную концепцию комфорта – он легко адаптируется к различным потребностям владельцев. При необходимости увеличить число посадочных мест достаточно откинуть назад мягкие подушки-подлокотники – и они станут частью спинки
		+media-object({
			class: 'product-description__item',
			title: 'Механизм трансформации: Еврокнижка',
			image: {
				src: '/images/content/media-1.png',
				srcset: {
					'2x': '/images/content/media-1@2x.png'
				}
			}
		}) Очень практичный механизм, используемый как в прямых, так и в угловых диванах. Для того чтобы разложить диван, нужно просто выдвинуть сидение на себя и опустить спинку, получив таким образом ровное спальное место. Смотреть все диваны еврокнижки.
		+media-object({
			class: 'product-description__item',
			title: 'Независимый пружинный блок',
			image: {
				src: '/images/content/media-2.png',
				srcset: {
					'2x': '/images/content/media-2@2x.png'
				}
			}
		}) Независимый пружинный блок представляет собой систему, в которой цилиндрические пружины в матрасе изолированы друг от друга отдельными эластичными чехлами и работают автономно. Сжатие одной пружинки не влияет на другие, что обеспечивает высокую эластичность спального места и оптимальный ортопедический эффект. Такие матрасы способны выдерживать значительные нагрузки и характеризуются длительным сроком службы. Когда два человека спят вместе, они не мешают друг другу, так как независимые пружины не передают колебания и не скрипят.
	.product-description__footer
		.product-description__toggle
			+button({
				mods: ['grey', 'block', 'round'],
				attributes: {
					'data-click': 'product.description.toggle'
				}
			}) Скрыть описание
