extends ~layout/l-mobile/index

include ~blocks/text-block/mixin
include ~blocks/breadcrumbs/mixin
include ~blocks/section-head/mixin
include ~blocks/section-title/mixin
include ~mobile/grid-catalog/mixin

block variables
	- TITLE = 'О магазине'

block page-head
	+breadcrumbs({
		items: [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'О магазине',
			},
		]
	})
	h1 О магазине
block page-content
	+text-block
		p Наша компания была основана в 1993 году, а наш интернет-магазин стал одним из первых магазинов, осуществляющих on-line продажу мебели в регионе. Компания специализируется на оптовой и розничной продаже мебели как для дома, так и для офиса и производственных помещений, а также различной мебельной фурнитуры.
		p На данный момент мы представляем собой крупную компанию, владеющую интернет–магазином и имеющую в своей сети единый call-центр, который регулирует всю деятельность магазина:
		ul
			li Отдел продаж;
			li Служба доставки;
			li Широкий штат квалифицированных сборщиков;
			li Собственный склад с постоянным наличием необходимого запаса товаров.
		p За это время у нас сложились партнерские отношения с ведущими производителями, позволяющие предлагать высококачественную продукцию по конкурентоспособным ценам. Мы можем гордиться тем, что у нас один из самых широких ассортиментов мебели в городе и области.
	+text-block
		h3 На нашем сайте к Вашим услугам:
		ul
			li Реальные и конкурентоспособные цены;
			li Широчайший ассортимент товаров;
			li Качественные описания и изображения товаров;
			li Поиск товаров в магазине;
			li Система обратной связи;
			li Продажа только сертифицированных и имеющих легальное происхождение товаров;
			li Гарантийное обслуживание купленных у нас товаров;
			li Покупка товара, не выходя из дома или офиса;
			li Быстрое согласование товара с клиентом для подтверждения заказа;
			li Обмен товаров ненадлежащего качества и многое другое.
	p Мы всегда рады общению с нашими клиентами. Если у Вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина — пишите нам, и мы с благодарностью примем Ваше мнение во внимание:&nbsp;
		a(href="mailto:mail@mebdv.ru") mail@mebdv.ru

	+section-head
		+section-title Почему стоит выбрать нас
	+grid-catalog({
		items: [
			{
				title: 'Собственное производство',
				icon: {
					name: 'settings'
				},
			},
			{
				title: 'Рассрочка 0/0/12',
				icon: {
					name: 'money-pig'
				},
			},
			{
				title: 'Быстрая доставка',
				icon: {
					name: 'delivery'
				},
			},
			{
				title: 'Гарантия возврата',
				icon: {
					name: 'payback'
				},
			},
		]
	})

block prepend footer
	include ~mobile/section-contact/index
	include ~mobile/section-map/index
