@import "~common/styles/mixins/placeholder";

.form-search {
  display: block;
  position: relative;
  &__submit {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
    color: #A9A9A9;
  }
  &__input[type="search"],
  &__input[type="text"] {
    padding-left: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
}
