$layout-padding: 15px;
$layout-padding-md: 30px;
$layout-padding-xxl: 80px;
$layout-columns: 12;
$layout-gutter: 40px;
$layout-breakpoints: (
  xxs: 0,
  xs: 425px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
  xxl: 1680px,
  large: 1920px,
);
