.product-card
	.product-card__main
		.product-card__gallery
			include ~blocks/product-gallery/index
		.product-card__desc
			include ~blocks/product-description/index
		.product-card__specs
			+section-head
				+section-title({ mods: ['thin', 'small'] }) Свойства
			table.product-card__specs-table
				tr
					th Производитель
					td Массив хвойных пород древесины
				tr
					th Гарантия
					td Имеется
				tr
					th Срок службы
					td 5 лет
	.product-card__aside
		include ~blocks/form-product/index
