include ~desktop/section-similar/mixin
include ~desktop/section-reviews/mixin
include ~desktop/form-review/mixin

.product-card
	.product-card__main
		.product-card__gallery
			include ~blocks/product-gallery/index
		.product-card__desc
			include ~blocks/product-description/index
		.product-card__specs
			+section-head
				+section-title({ mods: ['thin', 'small'] }) Свойства
			table.product-card__specs-table
				tr
					th Производитель
					td Массив хвойных пород древесины
				tr
					th Гарантия
					td Имеется
				tr
					th Срок службы
					td 5 лет
		+section-similar({
			mods: 'bottom',
			title: 'Сопутствующие товары',
		})
		+section-similar({
			mods: 'bottom',
			title: 'Диван Еврокнижка Лиссабонв других цветах (10 шт)',
		})
		+section-similar({
			mods: 'bottom',
			title: 'Все товары коллекции Лиссабон (8 шт)',
		})
		+section-reviews({
			mods: 'bottom'
		})
		+form-review({
			rating: true,
		})
	.product-card__aside
		include ~blocks/form-product/index
