include ~blocks/lazy-iframe/mixin
include ~blocks/icon-box/mixin
include ~blocks/map-box/mixin

.contacts
	.contacts__item
		.contacts__item__icon
			+icon-box({ icon: 'map' })
		.contacts__item__body
			.contacts__item__title Адрес:
			p г. Москва, Федеративный проспект, д. 9, корп. 2, офис 1
	.contacts__item
		.contacts__item__icon
			+icon-box({ icon: 'phone' })
		.contacts__item__body
			.contacts__item__title Телефоны:
			p +7 (495) 796-30-35
			p +7 (903) 796-30-35
	.contacts__item
		.contacts__item__icon
			+icon-box({ icon: 'clock' })
		.contacts__item__body
			.contacts__item__title Режим работы:
			p Ежедневно
			p с 09:00 до 20:00
	.contacts__item
		.contacts__item__icon
			+icon-box({ icon: 'mail' })
		.contacts__item__body
			.contacts__item__title Email:
			p
				a(href="mailto:mail@mebdv.ru") mail@mebdv.ru


	+map-box({ class: 'contacts__map' })
	.contacts__form
		include ~blocks/form-feedback/index
	.contacts__info
		.contacts__info-title Реквизиты
		p ИП Лукьянов Р.К.
		p ОГРНИП: 313334003700045
		p ИНН: 332910397341
