.contacts {
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    p {
      margin: 0;
    }
    &__icon {
      flex: 0 0 auto;
      margin-right: 15px;
    }
    &__title {
      font-weight: $font-weight-semi-bold;
      margin-bottom: 5px;
    }
    &__body {
      flex: 1 1 auto;
    }
  }
  &__map {
    margin: 30px 0;
  }
}
