extends ~layout/l-mobile/index

include ~blocks/text-block/mixin
include ~blocks/breadcrumbs/mixin

block variables
	- TITLE = 'Производители'

block page-head
	+breadcrumbs({
		items: [
			{
				title: 'Главная',
				href: '/'
			},
			{
				title: 'Производители',
			},
		]
	})
	h1 Производители
block page-content
	+text-block
		p Наша компания была основана в 1993 году, а наш интернет-магазин стал одним из первых магазинов, осуществляющих on-line продажу мебели в регионе. Компания специализируется на оптовой и розничной продаже мебели как для дома, так и для офиса и производственных помещений, а также различной мебельной фурнитуры.
	include ~blocks/brands-list/index

block prepend footer
	include ~mobile/section-contact/index
	include ~mobile/section-map/index
