extends ~common/templates/layout/base

include ~layout/l-container/mixin

block body
	.l-mobile
		.l-mobile__header
			block header
				include ~blocks/mobile/header/index
		main.l-mobile__main
			block main
				+l-container
					.l-mobile__head
						block page-head
					.l-mobile__body
						block page-body
		.l-mobile__footer
			block footer
				include ~blocks/mobile/footer/index
				include ~blocks/mobile/menu-sticky/index
block append stylesheets
	link(rel="stylesheet" href=`/mobile.css?${$.version}`)
block append scripts
	script(src=`/mobile.js?${$.version}`)
