extends ~common/templates/layout/base

include ~layout/l-container/mixin

block body
	.l-mobile
		.l-mobile__header
			block header
				include ~mobile/header/index
		main.l-mobile__main
			block main
				+l-container
					.l-mobile__head
						block page-head
					.l-mobile__body
						block page-body
							.l-mobile__content
								block page-content
		.l-mobile__footer
			block footer
				include ~mobile/footer/index
				include ~mobile/menu-sticky/index

block stylesheets
	link(rel="stylesheet" href=`/m.index.css?${$.version}`)
block scripts
	script(src=`/m.index.js?${$.version}`)
