@import "~common/styles/variables/fonts";
@import "~blocks/breakpoints/mixin";

.product-cart {
  display: block;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(160, 160, 160, 0.4);
  padding: 15px;

  &__head {
    margin-bottom: 15px;
  }
  &__footer {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #E7E7E7;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0;
    line-height: 0;
    height: 160px;

    img {
      max-height: 160px;
    }
  }
  &__title {
    font-size: 14px;
    color: #122351;
    text-decoration: none;
    font-weight: $font-weight-semi-bold;
  }
  &__prices {
    font-weight: $font-weight-bold;
    font-size: 15px;
    margin: 5px 0 10px 0;
    color: #000;
  }
  &__price {
    margin-right: 10px;
  }
  &__price-old {
    color: #A9A9A9;
    text-decoration: line-through;
  }
  &__specs {
    font-weight: $font-weight-semi-bold;
    dl {
      display: block;
      margin: 5px 0;
    }
    dd,
    dt {
      display: inline;
    }
  }
  &__count,
  &__delete {
    flex: 0 0 auto;
  }

  @include breakpoint(sm) {
    display: flex;
    align-items: stretch;
    padding: 30px;
    &__title {
      font-size: 15px;
    }
    &__prices {
      font-size: 16px;
    }
    &__specs {
      font-weight: $font-weight-regular;
    }
    &__body {
      flex: 1 1 auto;
    }
    &__head {
      flex: 0 1 260px;
      margin: 0 30px 0 0;
    }
    &__footer {
      flex: 0 0 auto;
      flex-direction: column;
      align-items: stretch;
      border: none;
      margin: 0 0 0 30px;
      padding: 0;
    }
    &__count {
      margin-bottom: 20px;
    }
    &__delete {
      margin: auto 0 0 0;
    }
  }
}
