@keyframes popup-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup-inner {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
