include ~blocks/icon/mixin

mixin spoiler(data)
	- data = data || {};
	- state = [];
	- if (data.active) state.push('is-active')
	.spoiler.js-spoiler(
		class=data.class
		class=state
		class=mods('spoiler', data.mods)
	)&attributes(data.attributes)
		.spoiler__head(data-click="spoiler.toggle")
			.spoiler__title #{data.title}
			+icon({ name: 'right', class: 'spoiler__icon' })
		.spoiler__body
			block
