include ~blocks/icon/mixin

mixin option-spoiler(data)
	- data = data || {};
	.option-spoiler.js-option-spoiler(
		data-separator=data.separator
		class=data.class
		class=mods('option-spoiler', data.mods)
		)&attributes(data.attributes)
			.option-spoiler__head(data-click="option.spoiler.toggle")
				.option-spoiler__title #{data.title}
				.option-spoiler__values(data-rel="option.spoiler.values") Не выбрано
			.option-spoiler__body
				block
