@import "~common/styles/mixins/scrollbar";

.form-filter {
  background: #fff;
  &__item {
    padding: 0 15px;
    border-bottom: 1px solid #F5F5F5;
  }
  &__options {
    padding-bottom: 15px;
  }
  &__scroll-outer {
    padding: 15px 0;
  }
  &__scroll-inner {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    max-height: 200px;
    padding-right: 20px;
    @include scrollbar;
  }
  &__buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 40px);
    padding: 15px 0;
  }
  &__colors {
    display: grid;
    grid-gap: 10px 15px;
    grid-template-columns: repeat(auto-fit, 30px);
    padding: 15px 0;
  }
  &__option {
    scroll-snap-align: start;
    border-bottom: 1px solid #F5F5F5;
  }
  &__range {
    padding: 15px 0;
  }
  &__size {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__footer {
    padding: 20px 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    background: #F4F4F4;
  }
}
