@import "~common/styles/variables/fonts";

.icon-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &__icon {
    flex: 0 0 auto;
    margin-right: 15px;
  }
  &__title {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: $font-weight-medium;
  }
  &__body {
    flex: 1 1 auto;
  }
}
