mixin form(data)
	-
		data = data || {};
		data.attributes = data.attributes || {};
		tagName = data.attributes.action ? 'form' : 'div'
	#{tagName}.form(
		class=data.class
		class=mods('form', data.mods)
		)&attributes(data.attributes)
		block
