@import "~blocks/breakpoints/mixin";

.form {
  display: block;
  position: relative;
  padding: 15px;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(160, 160, 160, 0.4);
  &.form--grey{
    background: #F4F3F5;
    box-shadow: none;
  }
  &.form--large {
    padding: 40px;
  }
  @include breakpoint(md) {
    padding: 30px;
  }
}
