include ~blocks/product-panel/mixin

mixin slider-products(data)
	- data = data || {};
	.slider-products(
		class='js-slider-products'
		class=data.class
		class=mods('slider-products', data.mods)
	)&attributes(data.attributes)
		each item in [1,2,3,4,5,6,7,8]
			.slider-products__item
				+product-panel({
					href: '/m.mebdv/product'
				})
