include ~blocks/icon/mixin

mixin popup(data)
	- data = data || {}
	.popup(
		class=mods('popup', data.mods)
		class=data.class
		)&attributes(data.attributes)
		.popup__inner
			.popup__head
				if (data.icon)
					.popup__icon
						+icon({ name: data.icon })
				if (data.title)
					.popup__title #{data.title}
				.popup__close(data-click="popup.close")
					+icon({ name: 'close' })
			.popup__body
				block
