@import "~common/styles/variables/fonts";
@import "~common/styles/variables/colors";
@import "~common/styles/variables/animation";
@import "~blocks/breakpoints/mixin";
@import "styles/animations";

.popup {
  $z-index: 300;
  display: none;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index;
  background: $color-overlay;
  animation: popup-show $animation-time ease-out;

  &.is-active {
    display: block;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    animation: popup-inner $animation-time ease-out;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
    color: #fff;
    background: #F78B3D;
    font-size: 15px;
    line-height: 20px;
    font-weight: $font-weight-semi-bold;
    padding: 15px;
  }
  &__body {
    background: #fff;
    flex: 1 1 auto;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
  }
  &__icon,
  &__close {
    font-size: 20px;
    line-height: 0;
    flex: 0 0 auto;
  }
  &__icon {
    margin-right: 10px;
  }
  &__close {
    cursor: pointer;
    margin-left: 10px;
  }
  &__title {
    flex: 1 1 auto;
  }

  &.popup--black {
    color: #fff;

    .popup__head {
      background: #2C2C2C;
    }
    .popup__body {
      background: #2C2C2C;
    }
  }
  @include breakpoint(md) {
    padding: 20px;
    align-items: center;
    justify-content: center;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    &__head {
      padding-left: 25px;
      padding-right: 25px;
    }
    &__inner {
      display: block;
      margin: auto;
      position: relative;
      max-height: none;
      width: 360px;
      border-radius: 10px;
      overflow: hidden;
    }
    &.is-active {
      display: flex;
    }
    &.popup--large {
      .popup__inner {
        width: 980px;
      }
    }
  }
}
