@import "~common/styles/variables/fonts";
@import "~common/styles/variables/colors";
@import "~common/styles/variables/animation";
@import "styles/animations";

.popup {
  $z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index;
  background: $color-overlay;
  animation: popup-show $animation-time ease-out;

  &.is-active {
    display: block;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    background: #F78B3D;
    font-size: 15px;
    line-height: 20px;
    font-weight: $font-weight-semi-bold;
    padding: 15px;
  }
  &__icon,
  &__close {
    font-size: 20px;
    line-height: 0;
    flex: 0 0 auto;
  }
  &__icon {
    margin-right: 10px;
  }
  &__close {
    cursor: pointer;
    margin-left: 10px;
  }
  &__title {
    flex: 1 1 auto;
  }
}
