@keyframes menu-app-item {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }
  50% {
    opacity: 1;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
